// to put the trigger to the level of the logo
.ant-layout-sider-zero-width-trigger {
    top      : 12px;
    right    : -40px;
    font-size: 25px;
}

// space for the first menu
.ant-layout-sider-children {
    margin-top: 64px;
}