@import '~antd/dist/antd.less';

// @primary-color: #229431;
@layout-body-background: #fff;

.logo {
  height: 100%;
  width: 50px;
  fill: #fff;
  float: left;

  svg {
    vertical-align: middle;
  }
}
